<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1004141240462-nu3onn70sfvvkbj5aginllfjnat8kbfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004141240462-nu3onn70sfvvkbj5aginllfjnat8kbfl</string>
	<key>API_KEY</key>
	<string>AIzaSyDrPalfcMGbCrDxNb15YmYI-A05sP8yxFU</string>
	<key>GCM_SENDER_ID</key>
	<string>1004141240462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bruinSquare.Property-One-Dragon</string>
	<key>PROJECT_ID</key>
	<string>pogxyz-90d8f</string>
	<key>STORAGE_BUCKET</key>
	<string>pogxyz-90d8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004141240462:ios:06bc48789bf7594d</string>
	<key>DATABASE_URL</key>
	<string>https://pogxyz-90d8f.firebaseio.com</string>
</dict>
</plist>